$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;

@mixin sm {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin xxl {
  @media screen and (min-width: $breakpoint-xxl) {
    @content;
  }
}

@mixin custom-breakpoint($min, $max: null) {
  @if $max {
    @media screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @media screen and (min-width: $min) {
      @content;
    }
  }
}
