:root {
  /* Typography */
  --rm-font-family: 'Inter', sans-serif;

  /* Scaffolding */
  --base-transition: all 0.15s ease-in-out;

  /* Colors */
  --rm-black: #000;
  --rm-white: #fff;
  --rm-grey: #4c4c4c;

  --rm-grey-180: #eee;
  --rm-grey-200: #ececec;

  --rm-grey-995: #141414;

  --rm-grey-990-opacity-90: #1f1f1fe5;

  --rm-black-opacity-10: #0000001a;
  --rm-black-opacity-20: #0003;
  --rm-conflunce: #738198;

  /* UI */
  --ui-border-radius-4: 4px;
  --ui-border-radius-8: 8px;
  --ui-border-radius-12: 12px;
  --ui-border-radius-16: 16px;
  --ui-border-radius-20: 20px;
  --ui-border-radius-22: 22px;
  --ui-border-radius-24: 24px;
  --ui-border-radius-32: 32px;
  --ui-border-radius-50: 50px;
  --ui-border-radius-rounded: 100%;
  --ui-box-shadow: 0px 10px 30px 0px var(--rm-black-opacity-10);

  /* Pagination */
  --pagination-gap: 4px;
}
